PORT=5007
MONGO_URI=your_mongodb_atlas_uri
STRIPE_SECRET_KEY=your_real_stripe_secret_key
JWT_SECRET=your_jwt_secret
STRIPE_SUCCESS_URL=http://localhost:5173/payment-success
STRIPE_CANCEL_URL=http://localhost:5173/payment-cancel
