PORT=5008
MONGO_URI=mongodb+srv://medigoAdmin:mediGo%40SE127@medigo-cluster.ega902t.mongodb.net/telemedicine_db?retryWrites=true&w=majority

JWT_SECRET=medigo_super_secret_key
SERVICE_SECRET=medigo_super_secret_key

APPOINTMENT_SERVICE_URL=http://localhost:5005
AUTH_SERVICE_URL=http://localhost:5001